@{
    var TodasCategorias = (List<Categoria>)ViewData["TodasCategorias"];
    var CategoriaPai = (Categoria)ViewData["CategoriaPai"];

    var CategoriasFilho = TodasCategorias.Where(x => x.CategoriaPaiId == CategoriaPai.Id);
}

@if (CategoriasFilho.Count() > 0)
{
    <li class="dropdown-submenu">
        <a class="dropdown-item" href="#">@CategoriaPai.Nome</a>
        <ul class="dropdown-menu">

            @foreach (var CategoriaF in CategoriasFilho)
            {
                //Logica Recursiva de SubMenu
                @if (TodasCategorias.Where(x => x.CategoriaPaiId == CategoriaF.Id).Count() > 0)
                {
                    
                    ViewData.Remove("CategoriaPai");
                    //Apresentação do SubMenu
                    @await Html.PartialAsync("~/Views/Shared/Components/Menu/_SubMenu.cshtml", new ViewDataDictionary(ViewData) { { "CategoriaPai", CategoriaF } });
                }
                else
                {
                    <li class="dropdown-item"><a href="#">@CategoriaF.Nome</a></li>
                }
            }

        </ul>
    </li>
}
else
{
    <li class="dropdown-item"><a href="#">@CategoriaPai.Nome</a></li>
}