body {
    
}
.field-validation-error{
    color: red;
    display: block;
}
.Imagens .btn-imagem-excluir{
    width: 100%;
    margin-bottom: 20px;
}

.Imagens div{
    text-align: center;
}

.Imagens .img-thumbnail{
    width: 100%;
}

.input-file{
    display: none;
}

.img-upload{
    cursor: pointer;
}