body {
    
}
.field-validation-error{
    color: red;
    display: block;
}

.Imagens .col-md-2 {
    margin-bottom: 20px;
}

.Imagens .btn-imagem-excluir {
    width: 100%;
    margin-bottom: 50px;
}

.Imagens .btn-ocultar {
    display: none;
}

.Imagens div{
    text-align: center;
}

.Imagens .img-thumbnail{
    width: 100%;
    border: none;
}

.Imagens .input-file {
    display: none;
}

.Imagens .img-upload {
    cursor: pointer;
    vertical-align: middle;
}

.Imagens input[name = Imagem] {
    display: none;
}

.Imagens .container-img-thumbnail {
    width: 100%;
    height: 100%;
    max-height: 240px;
    border: 1px solid #ACCC;
    border-radius: 4px 4px 0px 4px;
    text-align: center;
    white-space: nowrap;
    margin: 1em 0;
    margin-bottom: 0px;
}

.helper{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.Imagens .thumb{
    width: 64px;
}